.codemonkeys-island-logo {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  z-index: 100;
  animation-delay: 21s;
  animation-name: zoom;
  animation-timing-function: linear;
  animation-duration: 5s;

  animation-fill-mode: forwards;

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 50vw;
    img.logo {

    }

    img.sign {
      position: absolute;
      bottom: -120px;
      right: 60px;

      width: 20vw;
      transform: translate(35%, 150%);
    }
  }

}


@keyframes zoom {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 1;
  }
  30% {
    transform: scale(40) ;
    opacity: 0;
  }

  100% {
    transform: scale(140);
    opacity: 0;
  }
}
